{{#> base}}
	{{#*inline "head"}}
		<title>Page not found - Sabrina Jewson</title>
		<meta property="og:title" content="Page not found">
	{{/inline}}
	{{#*inline "body"}}
		<h1>Page not found</h1>
		<p>:(</p>
	{{/inline}}
{{/base}}
