abbr {
	text-decoration: none;
}
#reviews-table {
	line-height: 1.2;
	width: 100%;
}
#reviews-table th:nth-child(2) {
	width: 110px;
}
#reviews-table th:nth-child(3) {
	width: 90px;
}
.score-header {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}
small {
	font-size: 0.8em;
}
.links img {
	vertical-align: middle;
}
.links {
	border-right: 1px solid grey;
	padding-right: 1ex;
	margin-right: 1ex;
}
.page-controls {
	display: flex;
	flex-flow: row wrap;
	margin-top: 8px;
	user-select: none;
	-webkit-user-select: none;
}
.page-controls > div {
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: 0 4px 4px 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
@media (prefers-color-scheme: dark) {
	.page-controls > div {
		background-color: #333;
	}
	.page-controls > div:hover, .page-controls > div.selected {
		background-color: #555;
	}
}
@media (prefers-color-scheme: light) {
	.page-controls > div {
		background-color: #DDD;
	}
	.page-controls > div:hover, .page-controls > div.selected {
		background-color: #BBB;
	}
}
.page-controls > div.disabled {
	background-color: revert;
	cursor: not-allowed;
}
