abbr {
	text-decoration: none;
}
button {
	background-color: inherit;
	color: inherit;
	padding: 0;
	border: none;
	margin: 0;
	font: inherit;
	cursor: inherit;
}
#filter {
	display: flex;
	gap: 8px;
}
#filter > input {
	flex-grow: 1;
}
#filter > button {
	padding: 2px 8px;
}
#reviews-table {
	width: 100%;
}
#reviews-table td:not([colspan="3"]) {
	line-height: 1.2;
}
#reviews-table th:nth-child(2) {
	width: 110px;
}
#reviews-table th:nth-child(3) {
	width: 95px;
	cursor: pointer;
}
small {
	font-size: 0.8em;
}
.links img {
	vertical-align: middle;
	height: 16px;
}
.links {
	border-right: 1px solid grey;
	padding-right: 1ex;
	margin-right: 1ex;
}
.page-controls {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 8px 0;
	gap: 8px 8px;
}
.page-controls > button {
	width: 36px;
	height: 36px;
	line-height: 36px;
}
.page-controls > button > input {
	width: 100%;
}

button.pretty {
	text-align: center;
	vertical-align: middle;
}
button.pretty:not(:disabled) {
	cursor: pointer;
}
button.pretty:disabled {
	cursor: not-allowed;
}
@media (prefers-color-scheme: dark) {
	button.pretty:not(:disabled) {
		background-color: #333;
	}
	button.pretty:not(:disabled):hover {
		background-color: #555;
	}
}
@media (prefers-color-scheme: light) {
	button.pretty:not(:disabled) {
		background-color: #DDD;
	}
	button.pretty:not(:disabled):hover {
		background-color: #BBB;
	}
}
