{{#> base}}
	{{#*inline "head"}}
		<title>Sabrina Jewson</title>
		<meta property="og:title" content="Sabrina Jewson">
		<meta name="description" content="{{summary}}">
	{{/inline}}
	{{#*inline "body"}}
		{{{body}}}
	{{/inline}}
{{/base}}
