#published {
	opacity: 0.7;
}

/* Heading anchors */
.anchor::before {
    content: "ยง";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    font-weight: normal;
}
:hover > .anchor::before {
	display: block;
}

/* Code blocks */
code.scode {
	padding: 3px 5px;
	white-space: nowrap;
}
pre.scode {
	padding: 16px;
	overflow-x: scroll;
}
.scode {
	border-radius: 6px;
	font-size: 0.9em;
	tab-size: 4;
}

/* Back to top arrow */
.back {
	margin-top: 3em;
}
