body {
	max-width: 80ch;
	margin: 0 auto;
}

/* Heading anchors */
.anchor::before {
    content: "§";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    font-weight: normal;
}
:hover > .anchor::before {
	display: block;
}

/* Block quotes */
blockquote {
	border-left: 5px solid grey;
	margin-left: 10px;
	padding-left: 10px;
}

/* Code blocks */
code.scode {
	padding: 3px 5px;
}
pre.scode {
	padding: 8px;
	overflow-x: scroll;
}
.scode {
	border-radius: 6px;
}

/* Tables */
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid grey;
	padding: 6px 10px;
}
