<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="color-scheme" content="dark light">
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme:light)">
		<meta name="theme-color" content="#000000" media="(prefers-color-scheme:dark)">

		<meta property="og:site_name" content="Sabrina Jewson">
		<link rel="icon" href="/{{icons.favicon}}">
		<link rel="apple-touch-icon" href="/{{icons.apple_touch_icon}}">

		<link rel="stylesheet" href="/{{common_css}}">

		{{> head}}
	</head>
	<body>
		<header>
			<a href="/" class="name">Sabrina Jewson</a>
			<nav>
				<a href="/blog">Blog</a>
			</nav>
		</header>
		<main>
			{{> body}}
		</main>
	</body>
</html>
